<p>
	{{name}}

	<button class="devourBurgerButton" data-id="{{id}}" data-newBuger="{{devoured}}">
		{{#if devoured}}{{this.id}}. {{this.burger_name}}{{else}}{{this.id}}. {{this.burger_name}}{{/if}}
	</button>
</p>
